*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

main{
    background-color: white;
}

.menu{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-left: 100px;
    margin-top: 50px;
    
}

.menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 852px;
    border-radius: 24px;
    background-color: black;
    box-shadow: rgba(100, 100, 111, 0.9) 0px 3px 20px 0px;
}

.menu-icon .imgrect{
    background-color: #F1D5BB;
    padding: 20px;
    
}

.menu-icon a:hover img{
    cursor: pointer;
    background-color: #F1D5BB;
    padding: 20px;
}

.h2{
    
    position: absolute;
    left: 173px;
    top: 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 63px;
    color: #000000;
    margin: 50px 0 10px 70px;
    text-transform: uppercase;
   

}


.h2 hr{

    color: #F1D5BB;
    border: 2px solid #F1D5BB;
}


.menu-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-auto-flow: row; 
    margin: 75px 35px 0px 35px;
    margin-bottom: 0;

  
}

.menu-items img {
    border-radius: 2px;
}

.menu-items p{
    text-align: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}


    button{
        position: absolute;
        top: 840px;
        left: 3px;
        width: 105px;
        padding: 10px;
        margin:  auto 50%;
        margin-top: 30px;
        background-color: #000000;
        color: white;
        border-radius: 2px;
    }

    button:hover{
        cursor: pointer;
        transition: 3s;
        background-color: #F1D5BB;
        border: none;
        color: #000000;
    }

    footer p{
        margin: auto 15%;
    }