@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.home{
    position: relative;
}

.home-content{
    position: absolute;
    top:30%;
    left: 20%;
    
}  

.home-content p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 0.5;
    color: #FFFFFF;
    width: 830px;
    height: 75px;

}


span {
    font-weight: 800;
}

.home-content .para{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    width: 822px;
    

}
.home-content .button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.button a{
    padding: 5px 50px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    margin-right: 10px;
    line-height: 38px;
    font-size: 20px;
    font-family: 'Mulish';
    font-weight: 300;
    font-style: normal;
    border-radius: 2px;
   text-transform:uppercase;
    
}

.button a:hover{
    cursor: pointer;
    transition: 3s;
    background-color: transparent;
    color: white;
    border: 2px solid black;
    
}






